
/* Example wrapper */
.wrap {
	position: relative;
	
}

/* Frame */
.frame {
	height: 150px;
	line-height: 100px;
	overflow: hidden;
}
.frame ul {
	list-style: none;
	margin: 0;
	padding: 0;
	height: 130px;
}
.frame ul li {
	float: left;
	width: 120px;
	height: 120px;
	margin: 10px;
	padding: 0;
	background: #333;
	color: #ddd;
	text-align: center;
	cursor: pointer;
  -webkit-box-shadow: 0 0 3px white;
  box-shadow: 0 0 3px white;
  position:relative;
overflow: hidden;

-webkit-transition: all 500ms ease;
transition: all 500ms ease;


}
.frame ul li:hover {
  -webkit-box-shadow: 0 0 10px white;
  box-shadow: 0 0 10px white;
}
.frame ul li:hover .ContCatgTxt{
  bottom: 0;
}
.frame ul li.active {
	color: #fff;
	background: #a03232;
  -webkit-box-shadow: 0 0 8px white;
  box-shadow: 0 0 8px white;
}

/* Scrollbar */
.scrollbar {
  margin: 0 0 1em 0;
  height: 10px;
  line-height:10px;
  border-radius:5px;
  width:940px;
  margin:0 auto;
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2JjYmNiYyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMCIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(188,188,188,1)), color-stop(100%,rgba(255,255,255,0)));
background: -webkit-linear-gradient(top,  rgba(188,188,188,1) 0%,rgba(255,255,255,0) 100%);
background: -webkit-gradient(linear, left top, left bottom, from(rgba(188,188,188,1)), to(rgba(255,255,255,0)));
background: -webkit-linear-gradient(top, rgba(188,188,188,1) 0%, rgba(255,255,255,0) 100%);
background: linear-gradient(to bottom,  rgba(188,188,188,1) 0%,rgba(255,255,255,0) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bcbcbc', endColorstr='#00ffffff',GradientType=0 );

}

.scrollbar .handle {

	height: 100%;
	background: #debb1f;
	cursor: pointer;
      border-radius:5px;
}
.scrollbar .handle .mousearea {
	position: absolute;

	left: 0;
	width: 100%;
	height: 10px;
    border-radius:5px;


}
.mousearea:hover{
 background-color: rgba(93, 93, 93, 0.32);
}

/* Pages */
.pages {
	list-style: none;
	margin: 20px 0;
	padding: 0;
	text-align: center;
}
.pages li {
	display: inline-block;
	width: 14px;
	height: 14px;
	margin: 0 4px;
	text-indent: -999px;
	border-radius: 10px;
	cursor: pointer;
	overflow: hidden;
	background: #fff;
	-webkit-box-shadow: inset 0 0 0 1px rgba(0,0,0,.2);
	box-shadow: inset 0 0 0 1px rgba(0,0,0,.2);
}
.pages li:hover {
	background: #aaa;
}
.pages li.active {
	background: #666;
}



