* {
  font-family:sans-serif;
  font-size:12px;

}
body {
  background-color:#E6E6E6; 
  -ms-touch-action: none;
}


.cuadro360 {
  margin-top:30px;
  margin-bottom:20px;
  position:relative;
  box-shadow: 0 0 10px gray;
  height:395px;
}

.cuadro360 > .png360 {
  position:absolute;
  bottom: 10px;
  right: 10px;
  z-index:1;
}
.cuadro360 > .sombra {
  position:absolute;
  left: 0;
  bottom:-19px;
}

.contenedorprincipal {
  box-shadow: 0 0 6px black;
  background-color:#F0F0F0;
  margin-top: 20px;
  height:auto;
  padding-top:10px;  

}


.txtPrincipal{
  width:800px;
  padding:30px 0 20px 0;
  
}


.BarraSuperior {
  background-color:gray;
}

.barraNav{
  height:30px;
  line-height:30px;
  float:right
}
.barraNav li:hover > .barraNavSubmenu {
	display: block;
}
.barraNav ul li {
  margin: 0 15px;
  font-size:11pt;
  font-style:italic;
  position:relative;

}

.barraNav ul > li > a {
  color:#FFFFFF;
  text-shadow: 0 0 5px white;
  font-style:normal;
  font-size:12px;

}
.barraNav ul > li > a:hover {
  transition: all 1000ms ease;
  -moz-transition: all 1000ms ease;
  -ms-transition: all 1000ms ease;
  -o-transition: all 1000ms ease;
  -webkit-transition: all 1s ease;
  text-shadow: 0 0 10px  yellow;
  color: #FFD829;
}

.barraNav li {
  	float: left;
	position: relative;
	list-style: none;
}

.barraNavSubmenu {
	display: none;
	position: absolute;
	top: 30px;
	left: -50px;
	width: 100px;
	z-index: 1000;
	list-style-type: none;
	padding: 10px;
	margin: 0;
	background-color: #676767;
}
.barraNav .barraNavSubmenu li {
  float: none;
  margin:0;
}
.barraNav .barraNavSubmenu a {
	display: block;
}
.barraNav li:hover > .barraNavSubmenu {
	display: block;
}


.oro {
  color:#FFFFFF;
  float:right;
  width:200px;
  height:80px;
  display:inline-table;
}
.oro div{
    display:inline-block;
}
.precioro{
  margin-top:20px;
  width:130px;
  height:60px;
  display:table-cell;
  vertical-align:middle
  
}
.orito{
  width:60px;
  height: 60px;
  display:inline-block;

}
.precioro > p:first-child{
  font-size:10px;
  font-weight:900
}
.precioro > p:last-child{
  font-size:20px;
}



.barraPrincipal {
  margin:15px auto;
}

.fondoNegro {
  height:600px;
  width:100%;
 
z-index:-999999;
  position:absolute;
  top: -30px;
  
}

body {
  position:relative;
}


.slider {
  box-shadow: 0 0 6px rgba(255, 255, 255, 0.47);
  width:960px;
  height:300px;
  margin: 0 auto;
  border-radius: 15px;
  overflow:hidden;
  margin-bottom:10px;
}

.contfooter{
  background-color:black;
  color:#9f9f9f;
  padding-top:20px;
  box-shadow: 0 0 6px black;
  height:200px;
  position:relative;
}

 
.txtfooter p {
  font-size:11pt;
  font-style:italic;
  padding: 10px 0;
  font-weight:900;
}
.txtfooter  ul  li {
  font-size:9pt;
  display:block;
  margin:10px 0 15px 20px;
}
.txtfooter  ul  li > a {
  color:#9f9f9f; 
}

.colordegradado {
background: rgb(22,22,22);
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIxMiUiIHN0b3AtY29sb3I9IiMxNjE2MTYiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjZTVlNWU1IiBzdG9wLW9wYWNpdHk9IjEiLz4KICA8L2xpbmVhckdyYWRpZW50PgogIDxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+Cjwvc3ZnPg==);
background: -moz-linear-gradient(top,  rgba(22,22,22,1) 12%, rgba(229,229,229,1) 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(12%,rgba(22,22,22,1)), color-stop(100%,rgba(229,229,229,1)));
background: -webkit-linear-gradient(top,  rgba(22,22,22,1) 12%,rgba(229,229,229,1) 100%);
background: -o-linear-gradient(top,  rgba(22,22,22,1) 12%,rgba(229,229,229,1) 100%);
background: -ms-linear-gradient(top,  rgba(22,22,22,1) 12%,rgba(229,229,229,1) 100%);
background: linear-gradient(to bottom,  rgba(22,22,22,1) 12%,rgba(229,229,229,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#161616', endColorstr='#e5e5e5',GradientType=0 );


}
.anillofooter {
  position:absolute;
  right:0;
  bottom: 0;
}

.ContCatg {
  width:140px;
  height:140px;
  overflow:hidden;
  position:relative;
  margin-top:10px;
  margin-bottom:10px;
  box-shadow:  0 0 5px gray;

}
.ContCatg > img {
  width:140px;
  height:140px;

}

.ContCatgTxt {
  position:absolute;
  width:140px;
  height:20px;
  background-color:rgba(0, 0, 0, 0.84);
  bottom:-20px;
  left:0;
  opacity: 0.78;
-webkit-transition: bottom 500ms ease;
-moz-transition: bottom 500ms ease;
-o-transition: bottom 500ms ease;
-ms-transition: bottom 500ms ease;
transition: bottom 500ms ease;


}
.ContCatg:hover .ContCatgTxt{
  bottom: 0;
}
.ContCatgTxt > p {
  text-align:center;
  line-height:20px;
  color:#FFF;
  font-weight:500;
  text-shadow:0 0 10px  black;  
  font-size:11px;
}

.MenuAdmin > li{
  padding: 10px;
}
.ContactFoto {
/*  position:absolute;*/
  top: -220px;
  left: 30px;
  border-radius:50
  
}

.ContSubcategoriaMini {
  margin-top:20px;
}
/*.ContContacto2 {
  position:relative;
}
.ContContacto2 > div {
  position:absolute;
  bottom: -225px;
  left: 110px;
  }*/


.ContSubcategoriaMed .grid_2 img {
  margin-bottom:10px;
}

.TextCategoria {
  margin:10px;
  font-size:16pt;
  font-style:italic;
  text-shadow: 0 0 3px gray;
  
  
}

.colordegradado2 {
  background: rgb(4,4,4);
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzA0MDQwNCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMyZDJkMmQiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top,  rgba(4,4,4,1) 0%, rgba(45,45,45,1) 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(4,4,4,1)), color-stop(100%,rgba(45,45,45,1)));
background: -webkit-linear-gradient(top,  rgba(4,4,4,1) 0%,rgba(45,45,45,1) 100%);
background: -o-linear-gradient(top,  rgba(4,4,4,1) 0%,rgba(45,45,45,1) 100%);
background: -ms-linear-gradient(top,  rgba(4,4,4,1) 0%,rgba(45,45,45,1) 100%);
background: linear-gradient(to bottom,  rgba(4,4,4,1) 0%,rgba(45,45,45,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#040404', endColorstr='#2d2d2d',GradientType=0 );

}



.Contacto  ul  li {
  display:block;
  margin:10px 0 15px 0px;
  line-height:20px;
  font-size:12px;
}

.Contacto {
  position:relative;
  margin-left:60px;
}
.Contacto ul:hover .CodeQR {
  opacity:1;
  display:block;
}
.Contacto ul li img {
  position:absolute;
  margin-left:-30px;
}

.CodeQR {
  height:220px;
  width:220px;
  position:absolute;
  top: 90px;
  left:-30px;
  background-color:#FFF;
  padding: 5px;
  border-radius:5px;
  box-shadow: 5px 5px 6px gray;
  opacity: 0;
  display:none;
}


ul {
  
}

.Social a img {
  padding:10px
}

.Social a img:hover {
  opacity: 0.5;
}




.contact_form ul {
    width:300px;
    list-style-type:none;
    margin:0px;
    padding:0px;
}
.contact_form li{
    padding:12px;
    border-bottom:1px solid #eee;
    position:relative;
}
.contact_form label {
    color: #555555;
    display: inline-block;
    float: left;
    font-family: sans-serif;
    font-size: 13px;
    font-weight: bold;
    margin-top: 3px;
    padding: 3px;
    width: 200px;
}
.contact_form input {
    height:20px;
    width:220px;
    padding:5px 8px;
}
.contact_form textarea {
    padding:8px;
    width:350px;
}
.contact_form button {
    margin-left:90px;
}
.contact_form input, .contact_form textarea {
    border:1px solid #aaa;
    box-shadow: 0px 0px 3px #ccc, 0 10px 15px #eee inset;
    border-radius:2px;
    color: #888;
    font-size: 12px;
    padding-right:30px;
}


.Social {
  display:block;
  
}

.sliderpequeno {
  display:block;
  position:relative;
}

.sliderpequeno .cycle-slideshow li {
 margin:10px 10px 30px 10px;
  box-shadow: 0 0 5px white;
}


.ContDegradado {
background: rgb(22,22,22),#F0F0F0;
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIxMiUiIHN0b3AtY29sb3I9IiMxNjE2MTYiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjZjBmMGYwIiBzdG9wLW9wYWNpdHk9IjEiLz4KICA8L2xpbmVhckdyYWRpZW50PgogIDxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+Cjwvc3ZnPg==);
background: -moz-linear-gradient(top,  rgba(22,22,22,1) 12%, rgba(240,240,240,1) 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(12%,rgba(22,22,22,1)), color-stop(100%,rgba(240,240,240,1))),#F0F0F0;
background: -webkit-linear-gradient(top,  rgba(22,22,22,1) 12%,rgba(240,240,240,1) 100%),#F0F0F0;
background: -o-linear-gradient(top,  rgba(22,22,22,1) 12%,rgba(240,240,240,1) 100%),#F0F0F0;
background: -ms-linear-gradient(top,  rgba(22,22,22,1) 12%,rgba(240,240,240,1) 100%),#F0F0F0;
background: linear-gradient(to bottom,  rgba(22,22,22,1) 12%,rgba(240,240,240,1) 100%),#F0F0F0;
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#161616', endColorstr='#f0f0f0',GradientType=0 );
background-size: 400px auto,auto;
  background-repeat:repeat-x,repeat;

}

.cycle-slideshow {
  position:relative;
}

.WrapSlidePeq {
  position:absolute;
  overflow:hidden;
}

.cycle-slideshow li a {
  position:relative;
  overflow:hidden;
}
.cycle-slideshow li:hover a p {
 opacity:1;
}
.cycle-slideshow li a p {
  display:table-cell;
  position:absolute;
  width:140px;
  height:20px;
  bottom: -63px;
  line-height:20px;
  color:white;
  font-size:11px;
  font-weight:500;
  text-align:center;
  text-shadow: 0 0 3px white;
  background-color:rgba(0, 0, 0, 0.84);
  opacity:0;
  -webkit-transition: opacity 500ms ease;
  -moz-transition: opacity 500ms ease;
  -o-transition: opacity 500ms ease;
  -ms-transition: opacity 500ms ease;
  transition: opacity 500ms ease;

}

.sliderpequenoBoton {
  display:table-cell;
  width:40px;
  height:40px;
  background-color:rgba(0, 0, 0, 0.84);
  position:absolute;
  top:50px;
  line-height:40px;
  text-align:center;
  font-size:25px;
  font-weight:900;
  color: white;
  box-shadow:0 0 3px gray;
  border-radius:50%;
}
.sliderpequenoBoton:hover{
  background-color:rgba(0, 0, 0, 0.92);
}

.BtnLeft {
  left:-45px;
}

.BtnRight {
  right:-45px;
}

.FormRegistro label{
  font-size: 11px;

}

/* Modal window */
#mask {
 position:absolute;
 z-index:2000;
 background-color:#000;
 display:none;
 top: -60px;
}
#modalBoxes .window {
 position:absolute;
 width:650px;
 height:330px;
 display:none;
 z-index:9999;
 padding:10px;
}
#modalBoxes #dialog,
#modalBoxes #login{
 width:650px;
 height:330px;
 background:white;
 border: 5px solid rgba(4,4,4,1);
 -webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
}
.FloatRight {
  float:right
}

.ModalLogo {
  display:table-cell;
  background-color: gray;
  height:300px;
  width:100px;
  margin:0;
  padding:0;
  vertical-align:middle;
  line-height:250px;
  text-align:center;
  box-shadow:inset 2px 2px 5px black; 
}

.BtnVerde {
  height:30px;
  padding: 0 20px;
  line-height:30px;
  border-radius:15px;
  background-color:#ccc7c7;
  box-shadow: 0 0 3px black;
}
